{% extends "base.html" %}
{% block content %}

<style>
    #contact-bg {
        background: url(../static/images/illustrations/fantasy-world.jpg) center center no-repeat;
        background-size: cover;
    }
    #contact-bg form {
        background: rgba(0, 0, 0, 0.5);
        padding: 2% 5% 5% 5%;
    }


</style>
<body>
    <div style="filter: brightness(70%);">
        <img src="../static/images/about/studio.jpg" width="100%" style="">
    </div>
    <div class="center">
        <img src="../static/images/about/Profile pic.jpg" style="margin-top:-8%;z-index:10;">
    </div>
    <div>
        <h4 class="center-text" style="padding-top:1%;">SHWETABH SUMAN</h4>
        <h6 class="center-text">Concept Artist/ Illustrator</h6>
<!--        <div class="illustration-btn">-->
<!--            <a href="{{url_for('about.illustrations')}}"><img src="../static/images/web_design/illustration_btn.png"></a>-->
<!--        </div>-->
        <p class="center-text" style="padding: 2% 20% 2% 20%;">I started my career as a traditional oil and charcoal artist in 2013 with expertise in portrait and figurative. In 2019 after stepping foot into the world of digital
            illustration he was mesmerized by the boundless possibility of experimentation. Since 2020 I began working professionally in digital illustration, design, 2D animation and concept art (as all of these included drawing) which concluded
            in choosing concept art as final field of work as it is story building and I get to draw alot which I love doing all the day every day.</p>
        <div style="background:rgba(0, 0, 0, 0.1);">
            <h3 class="center-text" style="padding-top:1%;">EXPERIENCE</h3>
            <div style="display:flex; justify-content:right; padding:0% 20%;">
                <div style="display:flex; justify-content:center; width:50%;">
                    <p class="text-center">
                Concept artist for Animation movie <br>
                Composition and Storyboarding <br>
                2D animation
                    </p>

                </div>
                <div style="display:flex; justify-content:center; width:50%;">
                    <p class="text-center">
                        Illustrations <br>
                        Character design <br>
                        3D modelling
                    </p>
                </div>
            </div>
        </div>

        <div style="padding-bottom:2%;">
<!--            <img src="../static/images/about/studio.jpg" width="100%">-->
        </div>
<!--        <h3 class="center-text">SKILLS</h3>-->
<!--        <p class="center-text" style="padding: 2% 20% 2% 20%;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eget urna et nisi finibus pellentesque.-->
<!--            Pellentesque luctus ipsum porttitor pulvinar scelerisque. Curabitur eget ullamcorper nunc, et egestas sem.-->
<!--            Donec blandit est sit amet mi luctus scelerisque. Donec ut congue diam.-->
<!--            Maecenas interdum odio laoreet, egestas turpis nec, rhoncus nisl. Nullam et metus id nisi bibendum convallis-->
<!--            ac non felis. Donec vel nulla finibus, aliquam nisi non, iaculis risus. Sed eu porta libero. Suspendisse-->
<!--            potenti. Nullam lacus sem, ultricies ut ullamcorper vitae, tincidunt at felis. Integer ipsum nisl, pulvinar-->
<!--            eget efficitur eget, interdum ut sapien. Praesent at commodo justo.</p>-->
        <div>
        <h3 class="center-text" style="padding-top:1%;">SOFTWARES</h3>
        <div style="display:flex; justify-content:right; padding:0% 20%;">
            <div style="display:flex; justify-content:center; width:50%;">
                <p class="text-center">
                <b> 2D CONCEPT & ILLUSTRATION </b> <br>
                Photoshop <br>
                Clip Studio Paint <br>
                    Adobe Illustrator </p>
            </div>
            <div style="display:flex; justify-content:center; width:50%;">
                <p class="text-center">
                  <b> 3D </b> <br>
                    Maya <br>
                    Zbrush <br>
                    Blender </p>
            </div>
        </div>


        <div style="width:100%; padding-top:2%;">
            <div class="full-page-form-container form-main" id="contact-bg">
                <form action="{{ url_for('main.contact') }}" method="post">
                    <p class="heading-large white-color text-center">DROP A MESSAGE</p>
                    <input type="text" name="name" placeholder="Name">
                    <input type="email" name="email" placeholder="Email">
                    <input type="email" name="email2" placeholder="Please Retype Email">
                    <textarea name="message" placeholder="Message"></textarea>
                    <button class="btn-1" type="submit">SEND MESSAGE</button>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                          <div class="{{category}}" style="background:black;">{{ message }}</div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </form>
                <a class="btn-1 whatsapp text-center" href="https://wa.link/qyhvtj" target="_blank">CHAT ON WHATSAPP</a>
            </div>
        </div>

</body>

{% endblock %}