{% extends "base.html" %}
{% block content %}

<div style="display:flex; justify-content: left; padding-left: 20%; padding-top: 5%;">
    <div style="display:block;">
        <p style='line-height:0.1;'> 2024-02-18 16:10:50.794153 - <span style='color:red;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:10:52.659904 - <span style='color:red;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:14:54.582310 - <span style='color:red;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:14:55.419607 - <span style='color:red;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:00.506921 - <span style='color:red;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:00.705578 - <span style='color:red;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:00.953409 - <span style='color:red;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:02.779557 - <span style='color:red;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:27.895937 - <span style='color:green;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:28.532050 - <span style='color:green;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:29.743576 - <span style='color:green;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:52.365596 - <span style='color:yellow;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:52.906404 - <span style='color:yellow;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:58.452446 - <span style='color:white;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:18:59.445267 - <span style='color:white;'>Test log</span> </p>
        <p style='line-height:0.1;'> 2024-02-18 16:52:24.761001 - <span style='color:red;'>failed to open image</span> </p>
    </div>
</div>
{% endblock %}