{% extends "base.html" %}
{% block content %}
<div class="background">
    <div class="box1">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                  {% for category, message in messages %}
                    <div class="{{category}}">{{ message }}</div>
                  {% endfor %}
            {% endif %}
        {% endwith %}
        <h1 style="color: #b542c7;>Register">Register</h1>
        <form id="registration" action="{{ url_for('account.register') }}" method="post" onsubmit="return validateRegistration()">
            <input type="text" name="name" placeholder="Name (required)" required="required" />
            <input type="text" name="username" placeholder="username" required="required" />
            <input type="password" minlength="5" name="password" placeholder="Password (required)" required="required" />
            <input type="password" name="retype-password" minlength="5" placeholder="Retype Password" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">REGISTER</button>
        </form>
    </div>
</div>
<script src="static/js/my_account.js"></script>
{% endblock %}