{% extends "index.html" %}
{% block index_content %}

<style>

</style>

<div id="three-d-start">
    <h1>3D MODELS</h1>
</div>
<div class="yt-video-container">
    <h3 style="">VIDEOS</h3>
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/XZEswQw5_cw?autoplay=1&mute=1&loop=1&playlist=XZEswQw5_cw" frameborder="0" allowfullscreen loading="lazy"></iframe>
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/MehNOS37A5c?autoplay=1&mute=1&loop=1&playlist=MehNOS37A5c" frameborder="0" allowfullscreen loading="lazy"></iframe>
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/IV9y2xF_QFo?autoplay=1&mute=1&loop=1&playlist=IV9y2xF_QFo" frameborder="0" allowfullscreen loading="lazy"></iframe>
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/-sANvQTeY-M?autoplay=1&mute=1&loop=1&playlist=-sANvQTeY-M" frameborder="0" allowfullscreen loading="lazy"></iframe>
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/1H3omAtPAm0?autoplay=1&mute=1&loop=1&playlist=1H3omAtPAm0" frameborder="0" allowfullscreen loading="lazy"></iframe>
    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/xh2IeHFjzQ8?autoplay=1&mute=1&loop=1&playlist=xh2IeHFjzQ8" frameborder="0" allowfullscreen loading="lazy"></iframe>
</div>
<div class="three-d-photo-container" >
    <h3 style="padding-left:1%;">PHOTOS</h3>
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Workstation-v1.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Workstation-v3.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Workstation-v4.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Keydial-and-touch-pen.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Keydial.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Microphone.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Room.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Tabl-Lamp.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Tubelight.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Wall-LIght.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Wall-lamp.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Almirah.jpg" loading="lazy">
    <img style="margin-bottom:1%;" class="full-width-img" src="static/images/3d/Bookshelf.jpg" loading="lazy">
</div>
<div class="fixed-menu-container">
    <div class="fixed-menu">
        <div class="fixed-menu-inner">
            <a href="{{ url_for('main.character_concept') }}">CHARACTERS</a>
            <a href="{{ url_for('main.environment_concept') }}">ENVIRONMENTS</a>
            <a href="{{ url_for('main.illustrations') }}">ILLUSTRATIONS</a>
            <a href="{{ url_for('main.other_works') }}">OTHER WORKS</a>
        </div>
    </div>
</div>
{% endblock %}