{% extends "index.html" %}
{% block index_content %}
<div class="col-12 col-s-12 heading" id="character-start">
    <h1>LEAD CHARACTERS</h1>
</div>
    <img src="static/images/character_concept/lead/dog_warrior_final.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/dog_warrior.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/dog_warrior_2.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/shaman_concept.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/Shaman_costumes.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/funny_joker_1.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/funny_joker_2.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/funny_joker_single.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/Joker_concept.jpg" loading="lazy">
    <img src="static/images/character_concept/lead/Joker.jpg" loading="lazy">


<!--ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->

<div class="col-12 col-s-12 heading" id="creatures-start">
    <h1>CREATURES</h1>
</div>
<div>
    <img src="static/images/character_concept/creatures/Siren_Scylla_hybrid_final.jpg" loading="lazy">
    <img src="static/images/character_concept/creatures/siren.jpg" loading="lazy">
    <img src="static/images/character_concept/creatures/scylla_head_exploration.jpg" loading="lazy">

</div>

<!--ooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo-->

<div class="col-12 col-s-12 heading">
    <h1>PROPS</h1>
</div>
<div>
    <img src="static/images/character_concept/props/magic_staff_concept.jpg" loading="lazy">
    <img src="static/images/character_concept/props/magic_staff.jpg" loading="lazy">
    <img src="static/images/character_concept/props/lantern_lamp_concept.jpg" loading="lazy">
    <img src="static/images/character_concept/props/throw_lantern.jpg" loading="lazy">
    <img src="static/images/character_concept/props/regular_lamp.jpg" loading="lazy">
</div>
<!--<div class="col-12 col-s-12 heading">-->
<!--    <h1>NPC</h1>-->
<!--</div>-->
<!--<div>-->
<!--    <img src="static/images/character_concept/1.Agrarian-characters-concept.jpg" width="100%" loading="lazy">-->
<!--</div>-->
<!--<div>-->
<!--    <img src="static/images/character_concept/NPC_Agrarian-People-II.jpg" width="100%" loading="lazy">-->
<!--</div>-->
<div class="col-12 col-s-12 heading">
    <h1>OTHERS</h1>
</div>
<img src="static/images/character_concept/lead/Gesture.jpg" loading="lazy">
<img src="static/images/character_concept/lead/sketch.jpg" loading="lazy">




{% endblock %}