{% extends "index.html" %}
{% block index_content %}
<div class="col-12 col-s-12 heading" id="character-start">
    <h1>LEAD CHARACTERS</h1>
</div>
<div>
    <img src="static/images/character_concept/lead/Color.jpg" loading="lazy">
</div>
<div>
    <img src="static/images/character_concept/lead/profile_3_by_4_grayscale.jpg" loading="lazy">
</div>
<div>
    <img src="static/images/character_concept/lead/back.jpg" loading="lazy">
</div>
<div>
    <img src="static/images/character_concept/lead/Materials.jpg" loading="lazy">
</div>
<div class="col-12 col-s-12 heading">
    <h1>PROPS</h1>
</div>
<div>
    <img src="static/images/character_concept/props/magic_staff_concept.jpg" loading="lazy">
    <img src="static/images/character_concept/props/magic_staff.jpg" loading="lazy">
    <img src="static/images/character_concept/props/lantern_lamp_concept.jpg" loading="lazy">
    <img src="static/images/character_concept/props/throw_lantern.jpg" loading="lazy">
    <img src="static/images/character_concept/props/regular_lamp.jpg" loading="lazy">
</div>
<div class="col-12 col-s-12 heading">
    <h1>NPC</h1>
</div>
<div>
    <img src="static/images/character_concept/1.Agrarian-characters-concept.jpg" width="100%" loading="lazy">
</div>
<div>
    <img src="static/images/character_concept/NPC_Agrarian-People-II.jpg" width="100%" loading="lazy">
</div>


{% endblock %}