{% extends "base.html" %}
{% block content %}
<style>
    #contact-bg {
        background: url(static/images/illustrations/fantasy-world.jpg) center center no-repeat;
        background-size: cover;
    }
    #contact-bg form {
        background: rgba(0, 0, 0, 0.5);
        padding: 2% 5% 5% 5%;
    }

</style>
<div style="width:100%;">
    <div class="full-page-form-container form-main" id="contact-bg">
        <form action="{{ url_for('main.contact') }}" method="post">
            <p class="heading-large white-color text-center">DROP A MESSAGE</p>
            <input type="text" name="name" placeholder="Name" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="email" name="email2" placeholder="Please Retype Email"required>
            <textarea name="message" placeholder="Message" required></textarea>
            <button class="btn-1" type="submit">SEND MESSAGE</button>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                  <div class="{{category}}" style="background:black;">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </form>
        <a class="btn-1 whatsapp text-center" href="https://wa.link/qyhvtj" target="_blank">CHAT ON WHATSAPP</a>
    </div>
</div>


{% endblock %}