{% extends "index.html" %}
{% block index_content %}
<div class="full-width-container vertical-flex">
    <h3 id="environment-heading">ENVIRONMENT CONCEPTS</h3>
    <img class="full-width-img" src="static/images/environment_concept/env-1-2-th.jpg" width="100%"  loading="lazy">
    <img class="full-width-img" src="static/images/environment_concept/env-1.jpg" width="100%"  loading="lazy">
    <img class="full-width-img" style="padding-top:2%;" src="static/images/environment_concept/env-2.jpg" width="100%"  loading="lazy">
</div>
<div class="fixed-menu">
    <div>
        <a href="{{ url_for('main.character_concept') }}">CHARACTERS</a>
        <a href="{{ url_for('main.environment_concept') }}">ENVIRONMENTS</a>
        <a href="{{ url_for('main.other_works') }}">OTHER WORKS</a>
        <a href="{{ url_for('main.three_d') }}">3D</a>
    </div>
</div>
{% endblock %}