{% extends "index.html" %}
{% block inner_content %}


<div class="col-12 col-s-12" id="environment-start">
    <img src="static/images/environment_concept/2.Agrarian-community-exploration.jpg" width="100%">
</div>
<div class="col-12 col-s-12">
    <img src="static/images/environment_concept/3.Agriculture.jpg" width="100%">
</div>
<div class="col-12 col-s-12">
    <img src="static/images/environment_concept/4.Agriculture-II.jpg" width="100%">
</div>
<div class="col-12 col-s-12">
    <img src="static/images/environment_concept/5.Agriculture-Unit-III.jpg" width="100%">
</div>
<div class="col-12 col-s-12">
    <img src="static/images/environment_concept/6.Agriculture-V.jpg" width="100%">
</div>
<div class="col-12 col-s-12">
    <img src="static/images/environment_concept/7.Agriculture-IV.jpg" width="100%">
</div>
<div class="col-12 col-s-12 top-padding">
    <img src="static/images/environment_concept/Fish-girl-character-exploration.jpg" width="100%">
</div>

{% endblock %}