{% extends "base.html" %}
{% block content %}
<style>

</style>


<!--{% if bottom_menu == 'y' %}-->
<!--<div class="gallery-menu">-->
<!--    {% if page == 'characters' %}-->
<!--        <a href="{{url_for('main.character_concept')}}"><img src="static/images/web_design/characters_button_active.png" loading="lazy"></a>-->
<!--    {% else %}-->
<!--        <a href="{{url_for('main.character_concept')}}"><img src="static/images/web_design/characters_button.png" loading="lazy"></a>-->
<!--    {% endif %}-->
<!--    {% if page == 'environment' %}-->
<!--        <a href="{{url_for('main.environment_concept')}}"><img src="static/images/web_design/environment_button_active.png" loading="lazy"></a>-->
<!--    {% else %}-->
<!--        <a href="{{url_for('main.environment_concept')}}"><img src="static/images/web_design/environment_button.png" loading="lazy"></a>-->
<!--    {% endif %}-->
<!--    {% if page == 'world' %}-->
<!--        <a href="{{url_for('main.game_world_plan')}}"><img src="static/images/web_design/world_plan_button_active.png" loading="lazy"></a>-->
<!--    {% else %}-->
<!--        <a href="{{url_for('main.game_world_plan')}}"><img src="static/images/web_design/world_plan_button.png" loading="lazy"></a>-->
<!--    {% endif %}-->
<!--</div>-->
<!--{% endif %}-->

{% block index_content %}

<div style="
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),url('static/images/web_design/title_image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 50%;
    color: white;
    margin: 0% 0% 2% 0%;">
    <h1 id="title">PORTFOLIO</h1>
    <h6 id="title-genre-text" style="">GAME-CONCEPT</h6>
<!--<h5 id="title-text">-->
<!--        What began with resource battle has escalated to global chaos. The whole world has gone rogue hunting whoever or-->
<!--        whatever possess any resource. Societies have broken into small factions with sword to each other's throats.-->
<!--    <br>Let's explore the HUNTING ZONE!-->
<!--    </h5>-->
</div>

<div class="cta" style="background: url('static/images/web_design/characters_cta.jpg');display: flex;
    width: 100%;background-repeat: no-repeat;background-size: cover;background-position-x: 40%;">
    <div>
        <h3>CHARACTERS</h3>
        <p>Concept sketches and 3D concept explorations of characters, props, NPCs and creatures</p>
        <a href="{{url_for('main.character_concept')}}"><img src="static/images/web_design/cta_button.png" loading="lazy"></a>
    </div>
</div>
<div class="cta" style="background: url('static/images/web_design/environment_cta.jpg');display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 40%;">
    <div>
        <h3>ENVIRONMENTS</h3>
        <p>Environment concepts, thumbnails and finished renders.</p>
        <a href="{{url_for('main.environment_concept')}}"><img src="static/images/web_design/cta_button.png" loading="lazy"></a>
    </div>
</div>
<div class="cta" style="background: url('static/images/web_design/other_cta.jpg');display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 40%;">
    <div>
        <h3>OTHER WORKS</h3>
        <p>Random illustrations, compositions, anatomy, character or figure studies.</p>
        <a href="{{url_for('main.other_works')}}"><img src="static/images/web_design/cta_button.png" loading="lazy"></a>
    </div>
</div>
<div class="cta" style="background: url('static/images/web_design/3d_cta.jpg');display: flex;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 40%;">
    <div>
        <h3>3D Models</h3>
        <p>3D Models of characters and props on Zbrush, Maya and Blender.</p>
        <a href="{{url_for('main.three_d')}}"><img src="static/images/web_design/cta_button.png" loading="lazy"></a>
    </div>
</div>
<!--<div class="cta">-->
<!--    <a href="{{url_for('main.environment_concept')}}"><img src="static/images/web_design/environment_cta.jpg" width="100%" loading="lazy"></a>-->
<!--    <div class="cta-btn"><a href="{{url_for('main.environment_concept')}}"><img src="static/images/web_design/cta_button.png" loading="lazy"></a></div>-->
<!--</div>-->
<!--<div class="cta">-->
<!--    <a href="{{url_for('main.game_world_plan')}}"><img src="static/images/web_design/world_plan_cta.jpg" width="100%" loading="lazy"></a>-->
<!--    <div class="cta-btn"><a href="{{url_for('main.game_world_plan')}}"><img src="static/images/web_design/cta_button.png" loading="lazy"></a></div>-->
<!--</div>-->

{% endblock %}

<!--{% if bottom_menu == 'y' %}-->
<!--<div class="gallery-menu">-->
<!--    {% if page == 'characters' %}-->
<!--        <a href="{{url_for('main.character_concept')}}"><img src="static/images/web_design/characters_button_active.png" loading="lazy"></a>-->
<!--    {% else %}-->
<!--        <a href="{{url_for('main.character_concept')}}"><img src="static/images/web_design/characters_button.png" loading="lazy"></a>-->
<!--    {% endif %}-->
<!--    {% if page == 'environment' %}-->
<!--        <a href="{{url_for('main.environment_concept')}}"><img src="static/images/web_design/environment_button_active.png" loading="lazy"></a>-->
<!--    {% else %}-->
<!--        <a href="{{url_for('main.environment_concept')}}"><img src="static/images/web_design/environment_button.png" loading="lazy"></a>-->
<!--    {% endif %}-->
<!--    {% if page == 'world' %}-->
<!--        <a href="{{url_for('main.game_world_plan')}}"><img src="static/images/web_design/world_plan_button_active.png" loading="lazy"></a>-->
<!--    {% else %}-->
<!--        <a href="{{url_for('main.game_world_plan')}}"><img src="static/images/web_design/world_plan_button.png" loading="lazy"></a>-->
<!--    {% endif %}-->
<!--</div>-->
<!--{% endif %}-->




{% endblock %}