{% extends "base.html" %}
{% block content %}

<style>
    .hero {
        width: 100%;
        background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)), url('../static/images/others/Fish-girl-character-exploration.jpg');
        background-size: cover;
        background-repeat: no-repeat;
<!--        aspect-ratio: 3 / 1;-->
        height: auto;
        top: 0px;
        bottom: 0px;
        color: white;
    }

</style>
<body>
    <div class="col hero">
        <h1 style="text-align: center; padding:8% 0% 0% 0%;">THE WORLD UNDERWATER</h1>
        <h5 style="text-align: center; padding: 3% 20% 8% 20%; line-height: 2rem; opacity:0.8; font-family: 'Georgia';">
            Mother Earth gave human everything but human abused every boon. Eventually all the glaciers melted and
            whole earth surface except mountain peaks submerged. The feedback effect (chain evaporation and precipitation vicious cycle increasing
            greenhouse effect) made it impossible for humanity to live on surface. So the world went underwater
            rebuilding their lives, facing new challenges, learning new things, fighting over resources as again the survival
            instinct took hold of humanity. <br>Let's dive deeper into their lives and behold how their instincts have
            answered to the new challenges.
        </h5>
    </div>
    <div>
        {% for img in images %}
        <img src={{img}} width="100%">
        {% endfor %}
    </div>
    <div>
        <h1 style="text-align:center; padding: 3% 0% 3% 0%;">Character Concept</h1>
    </div>
    <div>
        <img src="../static/images/character/1.Agrarian-characters-concept.jpg" width="100%">
        <img src="../static/images/character/2.Agrarian-People-II.jpg" width="100%">
    </div>    <div>
        <h1 style="text-align:center; padding: 3% 0% 3% 0%;">Compositions</h1>
    </div>
    <div>
        <img src="../static/images/composition/Castle.jpg" width="100%" style="padding: 0% 32% 5% 32%;">
    </div>
    <div>
        <img src="../static/images/others/Fish-girl-character-exploration.jpg" width="100%" style="padding: 0% 5% 0% 5%;">
    </div>
</body>


{% endblock %}